@import url('https://fonts.googleapis.com/css2?family=Nokora:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

body {
    font-family: 'Nokora', sans-serif;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
    background-image: linear-gradient(95.2deg, rgba(173, 252, 234, 1) 26.8%, rgba(192, 229, 246, 1) 64%);
}

footer {
    text-align: center;
    grid-row: 4/ span 1;
}

i:hover {
    cursor: pointer;
}

.notice {
    margin: 0 auto;
}

.centered {
    grid-column: 2/ span 1;
    grid-row: 2/ span 1;
}

.block-copy,
.block-copy2 {
    flex: 1;
}

.canvas-controls {
    grid-row: 2/ span 1;
    grid-column: 3/ span 1;
}

textarea {
    flex: 1;
    width: 100%;
    box-sizing: border-box;
}

.wrapper-canvas {
    grid-column: 3/ span 2;
    grid-row: 3/ span 1;
}

.textareas {
    grid-row: 3/span 1;
    grid-column: 2/ span 1;
    display: block;
}

.wrapper-btn-canvas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

blockquote {
    margin: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  blockquote.visible {
    opacity: 1;
  }

@media only screen and (max-width: 480px) {
    body {
        font-size: small;
    }

    button {
        size: 0.5em;
    }

    canvas {
        width: 80vw;
        height: auto;
    }

    .wrapper-canvas {
        display: flex;
        justify-content: center;
    }

}

@media only screen and (max-width: 1300px) {
    body {
        grid-template-columns: 5% auto auto 5%;
        grid-template-rows: repeat(4 auto);
    }

    canvas {
        width: 40vw;
        height: auto;
    }
}

@media only screen and (max-width: 950px) {
    body {
        grid-template-columns: auto auto;
        grid-template-rows: repeat(4 auto);
    }

    .wrapper-canvas,
    .canvas-controls {
        grid-column: 2/ span 1;
    }

    .centered {
        grid-column: 1/ span 1;
        grid-row: 2/ span 1;
    }

    .textareas {
        grid-column: 1/ span 1;
        grid-row: 3/ span 1;
    }
}

@media only screen and (max-width: 750px) {
    body {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(6 auto);
    }

    header {
        grid-row: 1/ span 1;
        grid-column: 1/ span 2;
    }

    canvas {
        width: 65vw;
        height: auto;
    }

    .textareas {
        grid-row: 3/ span 1;
        grid-column: 1/ span 2;
    }

    .centered {
        grid-row: 2/ span 1;
        grid-column: 1/ span 2;
    }

    .canvas-controls {
        grid-row: 5/ span 1;
        grid-column: 1/ span 2;
        margin: 0 auto;
    }

    .wrapper-canvas {
        grid-row: 4/ span 1;
        grid-column: 1/ span 2;
        display: flex;
        justify-content: center;
    }

    footer {
        grid-row: 6/ span 1;
        grid-column: 1/ span 2;
    }

    header {
        grid-row: 1;
    }
}