@import url('https://fonts.googleapis.com/css2?family=Nokora:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Taprom&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Enriqueta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dokdo&display=swap');

body {
    font-family: 'Taprom', cursive;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto 90% auto;
    background-image: linear-gradient(to right top, #051937, #44445e, #7b7588, #b2acb6, #e8e7e8);
}

header {
    grid-row: 1 /span 1;
    background-color: #ccc;
    padding: 0.5em;
    font-family: 'Enriqueta', serif;
}

.grid-container {
    grid-column: 2/span 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.5em;
}

#1 {
    grid-column: 1/span 1;
}

#2 {
    grid-column: 2/span 1;

}

#3 {
    grid-column: 3/span 1;
}

i:hover {
    cursor: pointer;
}

.pitem {
    display: flex;
    height: fit-content;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    background-color: #e6d7a0;
    padding: 0.4em;
    border-radius: 0.5em;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 0.6em;
    right: 0.7em;
    z-index: 99;
    border: none;
    cursor: pointer;
    padding: 0.2em;
    border-radius: 0.4em;
    font-size: 1em;
}

#myBtn:hover {
    background-color: #555;
}

@media only screen and (max-width: 720px) {
    #fonts {
        width: 75%;
    }
}

@media only screen and (max-width: 386px) {
    #fonts {
        width: 95%;
    }

    p {
        font-size: small;
    }
}